/*第一种：双float
.all{
	height: 200px;
	margin: 5px;
	border:1px solid blue;
	overflow:hidden;
}
.left{
	height: 200px;
	float: left;
	width: 30%;
	background-color: pink;
}
.right{
	height: 200px;
	float: left;
	width: 70%;
	background-color: yellow;
}*/

/* 第二种双inline-block
.all{
	height: 200px;
	margin: 5px;
	border:1px solid blue;
	font-size: 0;
	box-sizing: content-box;
}
.left{
	height: 200px;
	width: 30%;
	display: inline-block;
	box-sizing: border-box;
	background-color: pink;
}
.right{
   	height: 200px;
	display: inline-block;
	box-sizing: border-box;
	width: calc(100% - 30%);
	background-color: yellow;
}
*/
/*第三种使用float+BFC方法,不用计算宽度
.all{
	height: 200px;
	border:1px solid blue;
	overflow: auto;
}
.left{
	height: 200px;
	width: 30%;
	float:left;
	background-color: pink;
	margin-right: 0
}
.right{
   	height: 200px;
	background-color: yellow;
	overflow: auto;
    margin-left: 0
}*/
/*第四种flex方案，,不用计算宽度*/
.all{
	height: 200px;
	border:1px solid blue;
	display: flex;
}
.left{
	height: 200px;
	width: 30%;
	background-color: pink;
	flex: none;
}
.right{
	height: 200px;
	flex:auto;
	background-color: yellow;
}