/*方法1：双float+calc
.all{
    height: 300px;
    margin: 5px;
    border: 1px solid blue;
    overflow: auto;
}
.left{
    height: 300px;
    width: 280px;
    background-color:pink;
    float: left;
}
.right{
    height: 300px;
    background-color:yellow;
    width: calc(100% - 280px);
    float: left;
}*/
/*方法2：double-inline
.all{
    height: 300px;
    margin: 5px;
    border: 1px solid blue;
    font-size: 0px;
}
.left{
    height: 300px;
    width: 280px;
    background-color:pink;
    display: inline-block;
}
.right{
    height: 300px;
    background-color:yellow;
    display: inline-block;
    width: calc(100% - 280px);
}*/
/*方法3：float+margin-left
.all{
    height: 300px;
    margin: 5px;
    border: 1px solid blue;
    overflow: auto;
}
.left{
    height: 300px;
    width: 280px;
    background-color:pink;
    float: left;
}
.right{
    height: 300px;
    background-color:yellow;
    margin-left:280px; 
}*/
/*方法4：float+BFC
.all{
    height: 300px;
    margin: 5px;
    border: 1px solid blue;
    overflow: auto;
}
.left{
    height: 300px;
    width: 280px;
    background-color:pink;
    float: left;
}
.right{
    height: 300px;
    background-color:yellow;
    overflow: auto;
}*/
/*方法5：flex*/
.all{
    height: 300px;
    margin: 5px;
    border: 1px solid blue;
    display: flex;
}
.left{
    height: 300px;
    width: 280px;
    background-color:pink;
    flex: none;
}
.right{
    height: 300px;
    background-color:yellow;
    flex: auto;
}